body {
  background-color: rgb(228, 227, 227);
  font-size: small;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
}

header {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.89);
}

.propName {
  color: rgba(0, 0, 0, 0.8);
}

table,
th,
td {
  border: 1px solid black;
}
table {
  margin-left: auto;
  margin-right: auto;
}
th {
  background-color: rgb(254, 255, 193);
}
.tag {
  padding-left: 10px;
  padding-right: 10px;
  font-family: monospace;
  font-size: 12px;
  background-color: rgb(245, 206, 161);
}

.desc,
.name {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

  font-size: 15px;
  background-color: rgba(255, 255, 255, 0.7);
}

.htmlCode {
  font-family: monospace;
  font-style: bold;
  color: red;
}
